.Input {
    input {
        outline: none;
        border: 2px solid #A070F2;
        border-radius: 2px;
        padding: 10px;
        font-size: 16px;
        font-family: 'Open Sans', Arial, sans-serif;
        font-weight: 600;
    }
}